<!doctype html>
<html class="no-js" lang="ja">
{{> _head title="お客様の声 - 株式会社ハーバーリンクスジャパン | リレーション (Re:lation)"}}

<body>
<div class="wrapper">
  <div class="wrapper-inner">

    <div class="layout__contents">
      {{> _section-nav}}

      <section id="interview-top-image" class="section">
        <img alt="" src="relation/assets/images/interview/harbor-top.png?ver={{VERSION}}">
      </section>


      <section id="interview-top-text" class="section">
        <div class="section__container">
          <div class="contents-wrapper">
            <div class="contents">
              <h4>INTERVIEW</h4>
              <h2>
                リレーションを導入してから<br/>対応漏れがゼロに！
              </h2>
              <h3>株式会社ハーバーリンクスジャパン</h3>
              <p>石原さん</p>
            </div>
          </div>
        </div>
      </section>


      <section id="interview-company" class="section">
        <div class="section__container">
          <div class="contents-wrapper">
            <div class="contents">
              <p>
                東京都港区新橋にあるワキ用スキンケアクリーム「Lapmine（ラポマイン）」を中心にスキンケア商品やサプリメントをネット販売しているハーバーリンクスジャパン様。<br/>
                今回、皆さんがどのようにリレーションを活用しているのか、話を伺いました。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2><span>50件/日の問い合わせ</span>もリレーションで楽々こなせるように</h2>
          </header>

          <div class="contents-wrapper small-image rtl">
            <div class="contents contents-image">
              <img width="415" height="300"
                   src="relation/assets/images/interview/harbor-01.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__question">
                リレーションはどのような用途でお使いいただいてますか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">石原さん：</span>
                弊社はワキの臭いと黒ずみに悩む女性のためにエステのプロが開発したスキンケアクリーム「Lapmine（ラポマイン）」を中心に、
                女性のためのスキンケア商品やサプリメントをネットで販売しています。
                そのお客様からのお届けに関する問い合わせメールにリレーションを利用しています。
              </p>
              <p class="interview__answer">
                今はお客様のマイページからお届け内容の変更などを行えるようにしましたのでずいぶんお問い合わせ件数も減りましたが、
                1日40〜50件のメールが届きます。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <div class="contents-wrapper">
            <header>
              <h2>週に3〜4回の対応漏れが発生していた<span>対応漏れがゼロに！</span></h2>
            </header>

            <div class="contents contents-image">
              <img alt="" width="415" height="440"
                   src="relation/assets/images/interview/harbor-02.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__question">
                リレーションを選ばれたきっかけは何だったのでしょうか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">石原さん：</span>
                売れている通販会社が使っていて、その会社の方に紹介してもらったのがきっかけです。
              </p>
              <p class="interview__answer">
                今まで共有のIDでログインしてメール対応をしていたのですが、
                同じお問い合わせに対して複数人が同時に処理をしてしまうなどの問題があったので改善したいと考えていました。
              </p>
              <p class="interview__answer">
                他社のグループメールソフトも含めて検討していたところ、
                その売れてる通販会社の担当者から「リレーションを使うと良いよ」と詳しく教えてもらえたのでリレーションを導入することに決めました。
              </p>
              <p class="interview__answer">
                リレーションでは複数人のメンバーで共有して応対できるため、
                導入前 Gmail を使っていた時には多いと週に3〜4回の対応漏れが発生していたのですが、
                リレーションを導入してから対応漏れがゼロになりました。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>携帯メールオプションで<span>メール到達率が100%に！</span></h2>
          </header>

          <div class="contents-wrapper small-image rtl">
            <div class="contents contents-image">
              <img alt="" width="415" height="340"
                   src="relation/assets/images/interview/harbor-03.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__question">
                リレーションを導入いただいてから、どのように変わりましたでしょうか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">石原さん：</span>
                お客様からメールが届いていないという問い合わせが一切なくなりました。
                弊社はリレーションの「携帯メールオプション」をつけていて、
                今はお客様へのメール到達率は100%です。
                携帯やスマートフォンをご利用のお客様にも確実に弊社からのメールが届くようになりました。
              </p>
              <p class="interview__answer">
                そのおかげだと思うのですが、弊社からお客様へ質問をしているけれど返事が返ってこないというケースがなくなったのが大きいです。
                そのためメールが届いていないとお客様から電話による問い合わせが減りましたので、
                その分コールセンターにかかる費用が抑えることができて非常にありがたいです。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2><span>承認・担当者設定</span>で対応効率アップ</h2>
          </header>

          <div class="contents-wrapper">
            <div class="contents contents-image">
              <img alt="" width="415" height="460"
                   src="relation/assets/images/interview/harbor-04.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__question">
                リレーションの機能で、良いなと感じていただいている点は何ですか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">石原さん：</span>
                「担当者設定」と「承認機能」ですね。便利に使っています。
              </p>
              <p class="interview__answer">
                メールに担当を振り分けることで、
                誰がどのぐらいの仕事量を抱えているかが把握できるようになりましたし、
                新人スタッフが入った時には「要承認」を設定することでメール送信前に必ずベテランスタッフに承認依頼をかけるようにできるのが良いですね。
              </p>
              <p class="interview__answer">
                システムを導入し今までの運用を変えることにスタッフが不安を感じていましたが、
                リレーションの感覚的に使える画面デザインを見て導入も問題なく行うことができました。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>スタッフの<span>作業効率の見える化</span>が実現</h2>
          </header>

          <div class="contents-wrapper">
            <div class="contents">
              <img width="1041" height="326"
                   src="relation/assets/images/interview/harbor-f-01.png?ver={{VERSION}}">
            </div>
          </div>

          <div class="contents-wrapper">
            <div class="contents contents-summary">
              <p class="interview__question">
                その他にも便利にお使いいたいている機能はありますか？
              </p>
            </div>
          </div>
          <div class="contents-wrapper">
            <div class="contents contents-summary">
              <p class="interview__answer">
                <span class="interviewer__green">石原さん：</span>
                またスタッフの誰がどのぐらい対応に時間がかかっているのか分かる「オペレータ統計」が良いですね。
              </p>
              <p class="interview__answer">
                おかげさまでビジネスが大きく伸びていく中で、メール対応のスタッフ数も2名から6名まで増やしています。
              </p>
            </div>
            <div class="contents contents-summary">
              <p class="interview__answer">
                リレーションの｢オペレータ統計｣機能は、
                スタッフ間の業務に偏りがないかといった今まで見えなかったことがわかるようになって大変重宝しています。
                <br/>
                スタッフがどのぐらい数の問い合わせ対応したのか簡単に把握したいという通販会社は多いと思います。
                そのような会社にシンプルで使いやすいリレーションの「オペレータ統計」機能は是非オススメです。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>コールセンターに広げたい</h2>
          </header>

          <div class="contents-wrapper rtl">
            <div class="contents contents-image">
              <img alt="" width="415" height="322"
                   src="relation/assets/images/interview/harbor-05.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__question">
                今後どのようにリレーションを使っていきたいとお考えですか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">石原さん：</span>
                これから新しくコールセンターを増やす予定をしていて、
                コールセンターのスタッフにもリレーションを使ってもらう予定をしています。
                <br/>
                コールセンターで受けたお客様からのメールやコールから商品やサービスをより良くするヒントを得るための手段としてリレーションを活用していきたいと考えています。
              </p>
              <p class="interview__answer">
                私たち通販会社にとって、直接お客様とお会いする機会がない分、
                お客様からのお問い合わせメールは「お客様との関係を深める」「お客様との距離を縮める」大切な手段だと思っています。
                その手段としてリレーションは最適です。
              </p>
              <p class="interview__question">
                本日はありがとうございました。<br/>今後ともリレーションをよろしくお願いいたします。
              </p>
            </div>
          </div>
        </div>
      </section>


      {{> _section-voices-carousel}}
      {{> _section-link}}
      {{> _section-contact}}
      {{> _section-back-to-top}}
    </div>


    {{> _footer}}

  </div><!-- .wrapper-inner -->
</div><!-- .wrapper -->

{{> _script}}
</body>
</html>
