<!doctype html>
<html class="no-js" lang="ja">
{{> _head title="お客様の声 - アスクレピオス製薬 | リレーション (Re:lation)"}}

<body>
<div class="wrapper">
  <div class="wrapper-inner">

    <div class="layout__contents">
      {{> _section-nav}}

      <section id="interview-top-image" class="section">
        <img alt="" src="relation/assets/images/interview/asklepios-top.png?ver={{VERSION}}">
      </section>


      <section id="interview-top-text" class="section">
        <div class="section__container">
          <div class="contents-wrapper">
            <div class="contents">
              <h4>INTERVIEW</h4>
              <h2>
                リレーションに決めた理由は<br/>導入にかかるサポートの良さ！
              </h2>
              <h3>アスクレピオス製薬株式会社</h3>
              <p>庭谷さん</p>
            </div>
          </div>
        </div>
      </section>


      <section id="interview-company" class="section">
        <div class="section__container">
          <div class="contents-wrapper">
            <div class="contents">
              <p>
                埼玉県さいたま市にある手汗対策用制汗パウダー「ファリネ」をネット販売しているアスクレピオス製薬株式会社。
                <br/>
                今回、皆さんがどのようにRe:lation (リレーション) を活用しているのか、話を伺いました。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>リレーションは<span>使いやすい。</span>だから決めました！</h2>
          </header>

          <div class="contents-wrapper small-image rtl">
            <div class="contents contents-image">
              <img alt="" width="415" height="441"
                   src="relation/assets/images/interview/asklepios-01.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__question">
                リレーションをどのような用途でお使いいただいてますか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">庭谷さん：</span>
                お客様からのメール問い合わせ対応で利用しています。一般の方からの商品に対する質問、
                そして顧客からのお届けに関するお問い合わせなどのメールが届きますので、その対応をしています。
              </p>

              <p class="interview__question">
                今年の7月にトライアルをしていただいて、8月からリレーションを導入いただきましたが、そのきっかけは何でしたか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">庭谷さん：</span>
                お客様からのお問い合わせを、複数人のメンバーで、そしてリアルタイムで応対したかったからです。
                実は他社さんの商品も検討したんですけれど、使いやすさでリレーションに決めました。
              </p>
              <p class="interview__answer">
                それと導入にかかるサポートの良さが決め手でした。
                リレーションの初期設定などもサポートしてもらえたのでスムーズに導入することができました。
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>管理しやすくて、作業効率アップ！</h2>
          </header>

          <div class="contents-wrapper">
            <div class="contents contents-image">
              <img alt="" width="460" height="307"
                   src="relation/assets/images/interview/asklepios-f-01.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-image">
              <img alt="" width="460" height="307"
                   src="relation/assets/images/interview/asklepios-f-02.png?ver={{VERSION}}">
            </div>
          </div>

          <div class="contents-wrapper">
            <div class="contents">
              <p class="interview__question">
                リレーションの機能で、良いなと感じていただいている点は何ですか？
              </p>
            </div>
            <div class="contents contents-summary">
              <p class="interview__answer">
                <span class="interviewer__green">庭谷さん：</span>
                「担当者設定」や「承認機能」が良いですね。
                今は問い合わせメールの対応は在宅秘書2名と本社2名で行っていて、
                必要に応じて私にメールの承認依頼が来るのでとても管理しやすいです。
                <br/>
                その他に、テンプレートを登録して使っているのですが、テンプレートの内容も共有されるので
                管理者側でも確認できるのが便利ですね。
              </p>
            </div>
            <div class="contents contents-summary">
              <p class="interview__answer">
                また、常に使いやすい機能がどんどん追加されていて、日々バージョンアップして進化しているところが良いです。
                どんどん使いやすくなっていってます。それに、何と言ってもインゲージさんのサポートが良いですね。
                分からないところを質問するとすぐに応えてくれる。ほんと早いです。うちも見習わないといけないぐらいです。
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>自動的にグループ化されるので、管理が楽チン！</h2>
          </header>

          <div class="contents-wrapper small-image">
            <div class="contents contents-image">
              <img alt="" width="415" height="278"
                   src="relation/assets/images/interview/asklepios-02.png?ver={{VERSION}}">
            </div>

            <div class="contents contents-summary">
              <p class="interview__question">
                今後どのようにリレーションを使っていきたいとお考えですか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">庭谷さん：</span>
                これから新商品の発売を予定していますので、
                お問い合わせメールを商品ごとで分けて対応していきたいと考えています。
                リレーションの自動設定ルールでラベルをつけることができるので、商品別にメールを管理できるのが便利です。
              </p>
              <p class="interview__answer">
                あと、アクティブサポート機能はまだ使えてないので、今後活用していきたいと思います。
              </p>

              <p class="interview__question">
                本日は、ありがとうございました。<br/>
                今後ともリレーションをよろしくお願い致します。
              </p>
            </div>
          </div>
        </div>
      </section>


      {{> _section-voices-carousel}}
      {{> _section-link}}
      {{> _section-contact}}
      {{> _section-back-to-top}}
    </div>


    {{> _footer}}

  </div><!-- .wrapper-inner -->
</div><!-- .wrapper -->

{{> _script}}
</body>
</html>
