<head>
  <base href="{{BASE_HREF}}">

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="keywords"    content="Re:lation,リレーション,メール共有,メール管理,問い合わせ管理">
  <meta name="description" content="リレーション (Re:lation) はグループでメールを共有・管理できるクラウドサービスです。ネット通販・食品メーカー・企業の総務・問い合わせ部門・教育機関など、対応ミスの許されない企業・団体で利用が広がっています。">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <link rel="publisher" href="https://plus.google.com/+IngageJp/">

  <link rel="icon" type="image/x-icon" href="http://ingage.jp/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:500">

  <link rel="stylesheet" href="vendor/stylesheets/sanitize.css?ver={{VERSION}}">
  <link rel="stylesheet" href="vendor/stylesheets/font-awesome.min.css?ver={{VERSION}}">
  <link rel="stylesheet" href="vendor/stylesheets/slick.css?ver={{VERSION}}">
  <link rel="stylesheet" href="vendor/stylesheets/slick-theme.css?ver={{VERSION}}">
  <link rel="stylesheet" href="relation/assets/stylesheets/style.css?ver={{VERSION}}">

  <!--[if lt IE 9]>
  <script src="/vendor/javascripts/html5shiv.min.js?ver={{VERSION}}"></script>
  <![endif]-->
</head>
