<section id="top-carousel" class="section">
  <div class="carousel carousel-top">
    <div class="slide">
      <div class="slide__image">
        <img alt="" src="relation/assets/images/top/slide1.png?ver={{VERSION}}">
      </div>
      <div class="slide__button__request">
        <a href="#" onclick="relation.request(); return false;">
          <i class="fa fa-envelope"></i>
          <span class="hidden-tablet">お問い合わせ・資料請求</span>
          <span class="hidden-pc">お問い合わせ</span>
        </a>
      </div>
      <div class="slide__button__trial">
        <a href="#" onclick="relation.trial(); return false;">
          <i class="fa fa-user"></i>
          <span class="hidden-tablet">20日間無料トライアルに申し込む</span>
          <span class="hidden-pc">無料お試し</span>
        </a>
      </div>
    </div>
    <div class="slide">
      <div class="slide__image">
        <img alt="" src="relation/assets/images/top/slide2.png?ver={{VERSION}}">
      </div>
      <div class="slide__button__request">
        <a href="#" onclick="relation.request(); return false;">
          <i class="fa fa-envelope"></i>
          <span class="hidden-tablet">お問い合わせ・資料請求</span>
          <span class="hidden-pc">お問い合わせ</span>
        </a>
      </div>
      <div class="slide__button__trial">
        <a href="#" onclick="relation.trial(); return false;">
          <i class="fa fa-user"></i>
          <span class="hidden-tablet">20日間無料トライアルに申し込む</span>
          <span class="hidden-pc">無料お試し</span>
        </a>
      </div>
    </div>
    <div class="slide">
      <div class="slide__image">
        <img alt="" src="relation/assets/images/top/slide3.png?ver={{VERSION}}">
      </div>
      <div class="slide__button__request">
        <a href="#" onclick="relation.request(); return false;">
          <i class="fa fa-envelope"></i>
          <span class="hidden-tablet">お問い合わせ・資料請求</span>
          <span class="hidden-pc">お問い合わせ</span>
        </a>
      </div>
      <div class="slide__button__trial">
        <a href="#" onclick="relation.trial(); return false;">
          <i class="fa fa-user"></i>
          <span class="hidden-tablet">20日間無料トライアルに申し込む</span>
          <span class="hidden-pc">無料お試し</span>
        </a>
      </div>
    </div>
    <div class="slide">
      <div class="slide__image">
        <img alt="" src="relation/assets/images/top/slide4.png?ver={{VERSION}}">
      </div>
      <div class="slide__button__request">
        <a href="#" onclick="relation.request(); return false;">
          <i class="fa fa-envelope"></i>
          <span class="hidden-tablet">お問い合わせ・資料請求</span>
          <span class="hidden-pc">お問い合わせ</span>
        </a>
      </div>
      <div class="slide__button__trial">
        <a href="#" onclick="relation.trial(); return false;">
          <i class="fa fa-user"></i>
          <span class="hidden-tablet">20日間無料トライアルに申し込む</span>
          <span class="hidden-pc">無料お試し</span>
        </a>
      </div>
    </div>
    <div class="slide">
      <div class="slide__image">
        <img alt="" src="relation/assets/images/top/slide5.png?ver={{VERSION}}">
      </div>
      <div class="slide__button__request">
        <a href="#" onclick="relation.request(); return false;">
          <i class="fa fa-envelope"></i>
          <span class="hidden-tablet">お問い合わせ・資料請求</span>
          <span class="hidden-pc">お問い合わせ</span>
        </a>
      </div>
      <div class="slide__button__trial">
        <a href="#" onclick="relation.trial(); return false;">
          <i class="fa fa-user"></i>
          <span class="hidden-tablet">20日間無料トライアルに申し込む</span>
          <span class="hidden-pc">無料お試し</span>
        </a>
      </div>
    </div>
  </div>
</section>
