<section id="voices" class="section">
  <div class="section__container">
    <header>
      <h4>VOICES</h4>
      <h2>お客様の声</h2>
    </header>
  </div>
  <div class="carousel carousel-interview">
    <a href="./relation/interview/vitabrid" target="_self">
      <div class="image">
        <img alt="株式会社ビタブリッドジャパン"
             width="482" height="300"
             src="relation/assets/images/interview/thumb_vitabrid.png?ver={{VERSION}}">
      </div>
      <div class="summary">
        <div class="summary-title">
          初めて使うスタッフもその日のうちに<br/>
          使いこなせるようになりました！
        </div>
        <div class="summary-user">
          株式会社ビタブリッドジャパン 様
        </div>
      </div>
    </a>

    <a href="./relation/interview/harbor" target="_self">
      <div class="image">
        <img alt="株式会社ハーバーリンクスジャパン"
             width="482" height="300"
             src="relation/assets/images/interview/thumb_harbor.png?ver={{VERSION}}">
      </div>
      <div class="summary">
        <div class="summary-title">
          リレーションを導入してから<br/>
          対応漏れがゼロに！
        </div>
        <div class="summary-user">
          株式会社ハーバーリンクスジャパン 様
        </div>
      </div>
    </a>

    <a href="./relation/interview/redvision" target="_self">
      <div class="image">
        <img alt="株式会社レッドビジョン"
             width="482" height="300"
             src="relation/assets/images/interview/thumb_redvision.png?ver={{VERSION}}">
      </div>
      <div class="summary">
        <div class="summary-title">
          100万通を超えるメール移行も<br/>
          簡単でした！
        </div>
        <div class="summary-user">
          株式会社レッドビジョン 様
        </div>
      </div>
    </a>

    <a href="./relation/interview/asklepios" target="_self">
      <div class="image">
        <img alt="アスクレピオス製薬"
             width="482" height="300"
             src="relation/assets/images/interview/thumb_asklepios.png?ver={{VERSION}}">
      </div>
      <div class="summary">
        <div class="summary-title">
          リレーションに決めた理由は<br/>
          導入にかかるサポートの良さ！
        </div>
        <div class="summary-user">
          アスクレピオス製薬 様
        </div>
      </div>
    </a>

    <a href="./relation/interview/tedxutokyo" target="_self">
      <div class="image">
        <img alt="TEDxUTokyo"
             width="482" height="300"
             src="relation/assets/images/interview/thumb_tedxutokyo.png?ver={{VERSION}}">
      </div>
      <div class="summary">
        <div class="summary-title">
          リレーションの良いところって<br/>
          作業フローに沿って作り込みされて<br/>
          いるところですね
        </div>
        <div class="summary-user">
          TEDxUTokyo 様
        </div>
      </div>
    </a>

    <a href="./relation/interview/fukata" target="_self">
      <div class="image">
        <img alt="深田税理士事務所"
             width="482" height="300"
             src="relation/assets/images/interview/thumb_fukata.png?ver={{VERSION}}">
      </div>
      <div class="summary">
        <div class="summary-title">
          リレーション導入のきっかけは<br/>
          メール対応効率アップ！
        </div>
        <div class="summary-user">
          深田税理士事務所 様
        </div>
      </div>
    </a>
  </div>
</section>
