<section id="functions" class="section">
  <div class="section__container">
    <header>
      <h4>FUNCTIONS</h4>
      <h2>ユーザ視点で考えられた<br/>豊富な機能</h2>
    </header>
  </div>
  <div class="carousel carousel-functions">
    <div class="slide">
      <div class="slide__image">
        <img alt="" src="relation/assets/images/functions/multi_inbox.png?ver={{VERSION}}">
      </div>
      <div class="slide__title">
        受信箱の複数設定
      </div>
      <div class="slide__description">
        1つのご契約で複数の受信箱が設定できるので、
        部門毎・製品毎に受信箱を持つことが可能です。
        社員ひとりひとりの専用受信箱も作れますから、
        グループ用のメールと個人のメールもRe:lationひとつでまかなえます。
      </div>
    </div>
    <div class="slide">
      <div class="slide__image">
        <img alt="" src="relation/assets/images/functions/phone_text.png?ver={{VERSION}}">
      </div>
      <div class="slide__title">
        電話メモ
      </div>
      <div class="slide__description">
        メールで問い合わせがあった後に、
        電話での問い合わせがあっても、
        電話メモを使って共有することができます。
        また、メールと一緒にチケット内に保存できるため、
        後からでも時系列に沿って確認することができます。
      </div>
    </div>
    <div class="slide">
      <div class="slide__image">
        <img alt="" src="relation/assets/images/functions/rakuten.png?ver={{VERSION}}">
      </div>
      <div class="slide__title">
        楽天あんしんメルアド対応
      </div>
      <div class="slide__description">
        楽天市場を通して受信するお客様のメールについても、
        一度、「楽天あんしんメルアドサービス」で割り当てられたID/PWを設定するだけで、
        一般的なメール送受信と同じように送信できるようになります。
      </div>
    </div>
    <div class="slide">
      <div class="slide__image">
        <img alt="" src="relation/assets/images/functions/board.png?ver={{VERSION}}">
      </div>
      <div class="slide__title">
        掲示板
      </div>
      <div class="slide__description">
        納品の遅れ、問い合わせの注意点、イレギュラーな対応、飲み会の連絡まで、
        ユーザ全員での共有事項を掲示板でカンタンに共有できます。
      </div>
    </div>
    <div class="slide">
      <div class="slide__image">
        <img alt="" src="relation/assets/images/functions/role.png?ver={{VERSION}}">
      </div>
      <div class="slide__title">
        ユーザ権限設定
      </div>
      <div class="slide__description">
        勝手に送信できないユーザを作成することや承認できるユーザを限定することで、
        お客さまに間違った対応をしてしまったり、
        確認もせずにメールを送信してしまったりすることを防ぐことができます。
      </div>
    </div>
    <div class="slide">
      <div class="slide__image">
        <img alt="" src="relation/assets/images/functions/contact.png?ver={{VERSION}}">
      </div>
      <div class="slide__title">
        アドレス帳
      </div>
      <div class="slide__description">
        メールアドレスや電話番号、会社名などを受信箱ごとに任意の分類で管理できます。
        また、メールやツイート、電話メモに紐づく情報は、
        関連するお客さま情報として表示されるため、
        お客様や取引先の状況をしっかり把握できます。
      </div>
    </div>
    <div class="slide">
      <div class="slide__image">
        <img alt="" src="relation/assets/images/functions/template.png?ver={{VERSION}}">
      </div>
      <div class="slide__title">
        テンプレート・フレーズ
      </div>
      <div class="slide__description">
        よくある返答文をテンプレートやフレーズとして登録しておくことができます。
        日時や担当者名を自動で挿入することも出来るので、効率よくメールに対応できます。
        また、エラーキーワードを設定することで、オペレータの確認漏れを防ぎ、
        確実にミスのないメールを作成できます。
      </div>
    </div>
    <div class="slide">
      <div class="slide__image">
        <img alt="" src="relation/assets/images/functions/time_limit.png?ver={{VERSION}}">
      </div>
      <div class="slide__title">
        対応遅れ表示
      </div>
      <div class="slide__description">
        対応が遅れているメールやツイートがあった場合に、
        色やデザインを変えて警告します。
        期限については任意で設定できるため、
        業務にあった対応遅れの警告を行うことができます。
      </div>
    </div>
    <div class="slide">
      <div class="slide__image">
        <img alt="" src="relation/assets/images/functions/schedule.png?ver={{VERSION}}">
      </div>
      <div class="slide__title">
        予約送信
      </div>
      <div class="slide__description">
        お客さまへの受付時間は終わっているが、
        今日中に対応しておきたいメールがあるなどのときに、
        予約送信をすることで指定した日時に自動的に送信できます。
        下書きで残しておいて、次の日に１つずつ送信。
        といったことをする必要がなくなります。
      </div>
    </div>
    <div class="slide">
      <div class="slide__image">
        <img alt="" src="relation/assets/images/functions/chat_support.png?ver={{VERSION}}">
      </div>
      <div class="slide__title">
        チャットサポート
      </div>
      <div class="slide__description">
        Re:lationの使い方でわからないことがあったら、
        チャットですぐに質問を送ることができます。
        通常半日以内に回答します。
      </div>
    </div>
    <div class="slide">
      <div class="slide__image">
        <img alt="" src="relation/assets/images/functions/check_attach.png?ver={{VERSION}}">
      </div>
      <div class="slide__title">
        添付忘れ警告
      </div>
      <div class="slide__description">
        メッセージ本文に「添付」とあるのに添付ファイルが無い場合、
        送信前に確認のダイアログを表示します。
        添付を示す英語の「attach」など、チェックしたい文字は自由に定義できます。
      </div>
    </div>
  </div>
</section>
