<!doctype html>
<html class="no-js" lang="ja">
{{> _head title="リレーション (Re:lation) - 問い合わせメール共有・メール管理サービス"}}

<body>
<div class="wrapper">
  <div class="wrapper-inner">

    <div class="layout__contents">
      {{> _section-nav}}


      {{> _section-top-carousel}}


      <section id="top-description" class="section">
        <div class="section__container">
          <div class="contents-wrapper">
            <div class="contents contents-summary">
              <h4>WHAT IS?</h4>
              <h2>企業と顧客を強く結びつけるためのメール管理ツールです</h2>
              <p>
                問い合わせ対応は顧客との大切なコミュニケーションの場所です。
                上手な対応は企業のファンを増やし、ビジネス向上につながります。
              </p>
              <p>
                Re:lationは、問い合わせ対応からファンを作るために考えられた新しいメール管理ツールです。
              </p>
            </div>
            <div class="contents contents-image">
              <img src="relation/assets/images/top/about.png?ver={{VERSION}}"
                   alt="" width="415" height="260" />
            </div>
          </div>
        </div>
      </section>

      <section id="top-features" class="section">
        <div class="section__container">
          <header>
            <h4>FEATURES</h4>
            <h2>Re:lationが選ばれる3つの特徴</h2>
          </header>

          <div class="contents-wrapper">
            <div class="contents">
              <div class="contents__image">
                <img src="relation/assets/images/top/feature1.png?ver={{VERSION}}"
                     alt="" width="328" height="300" />
              </div>
              <h3>1人1人のお客様と<br/>向き合うための様々な工夫</h3>
              <p>
                問い合わせ対応をバラバラに行っていると、自分以外の人が対応しているお客様のことが分からず、マニュアルどおりの杓子定規な対応になってしまい、どうしてもお客様の心が離れていきます。
                <br/>
                Re:lationでは、問い合わせ対応を行っているみんなが一人一人のお客様を理解できるための機能がたくさんあります。
              </p>
              <div class="contents__button">
                <a href="relation/features#feature1">
                  くわしく見る
                  <i class="fa fa-chevron-right"></i>
                </a>
              </div>
            </div>

            <div class="contents">
              <div class="contents__image">
                <img src="relation/assets/images/top/feature2.png?ver={{VERSION}}"
                     alt="" width="328" height="300" />
              </div>
              <h3>見て分かる!直感的な操作性で<br/>ストレスフリーに</h3>
              <p>
                日々行う受信〜内容確認〜返事〜管理などのメール業務は、お客さまへの対応のため、否が応でもストレスがかかります。
                <br/>
                Re:lation では、オペレータにできる限り本来のメール業務以外の負担がなるべくかからないよう、直感的に扱える画面設計を心掛け、作業をストレスなく行えるように考えられています。
              </p>
              <div class="contents__button">
                <a href="relation/features#feature2">
                  くわしく見る
                  <i class="fa fa-chevron-right"></i>
                </a>
              </div>
            </div>

            <div class="contents">
              <div class="contents__image">
                <img src="relation/assets/images/top/feature3.png?ver={{VERSION}}"
                     alt="" width="328" height="300" />
              </div>
              <h3>対応の見える化で管理も<br/>教育も無理なくカンタンに!</h3>
              <p>
                今までのメーラーではバラバラに対応を行なうため、現在のオペレータの状況が見えず、またその品質にバラつきが出やすいという問題が起こりやすいです。
                <br/>
                Re:lationでは、対応状況がリアルタイムで分かったり、コメント機能で新人に対してアドバイスできるなど、教育ツールとしても活用することができます。
              </p>
              <div class="contents__button">
                <a href="relation/features#feature3">
                  くわしく見る
                  <i class="fa fa-chevron-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>


      {{> _section-voices-carousel}}


      <section id="top-functions" class="section">
        <div class="section__container">
          <div class="contents-wrapper">
            <div class="contents contents-summary">
              <h4>FUNCTIONS</h4>
              <h2>ユーザの視点に立って<br>考えられた豊富な機能</h2>
              <p>
                ユーザがより便利にRe:lationを使うために、電話メモや、権限設定、テンプレート（フレーズ）、
                通知機能など、便利な機能が豊富に備わっています。
              </p>
              <div class="contents__button">
                <a href="relation/features#functions">
                  くわしく見る
                  <i class="fa fa-chevron-right"></i>
                </a>
              </div>
            </div>
            <div class="contents contents-image">
              <div class="contents__image">
                <img src="relation/assets/images/top/functions.png?ver={{VERSION}}"
                     alt="" width="502" height="280" />
              </div>
            </div>
          </div>
        </div>
      </section>


      <section id="top-security" class="section">
        <div class="section__container">
          <div class="contents-wrapper">
            <div class="contents">
              <h4>SECURITY</h4>
              <h2>安心して使える高い安全性</h2>
              <p>
                「大事なお客さまを守るために、使うツールは安全なものを使用したい」
                そんな思いを叶えるため、Re:lationは様々な対策で、サービスの安全性を高めています。
              </p>
              <div class="contents__button">
                <a href="relation/features#security">
                  くわしく見る
                  <i class="fa fa-chevron-right"></i>
                </a>
              </div>
            </div>
            <div class="contents">
              <div class="contents__image">
                <img src="relation/assets/images/top/security.png?ver={{VERSION}}"
                     alt="" width="502" height="280" />
              </div>
            </div>
          </div>
        </div>
      </section>


      <section id="top-subscription" class="section">
        <div class="section__container">
          <header>
            <h4>SUBSCRIPTION PLANS</h4>
            <h2>料金プラン</h2>
            <p>
              使用用途に合わせて、気軽に使えるライトプラン、CTIやLINEとも連携できるエンタープライズなど、
              ５つの料金プランから当サービスをご利用いただけます。
            </p>
          </header>
          <div class="contents-wrapper">
            <div class="contents">
              <div class="contents__button">
                <a href="relation/plans">
                  くわしく見る
                  <i class="fa fa-chevron-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section id="top-testimonials" class="section">
        <div class="section__container">
          <header>
            <h4>NEWS & TESTIMONIALS</h4>
            <h2>Re:lationの確かな実績</h2>
            <p>
              Re:lationはすでに多くの導入企業や<br>
              メディアに掲載された確かな実績があります。
            </p>
          </header>
          <div class="contents-wrapper">
            <div class="contents">
              <h3>主な導入企業</h3>
            </div>
            <div class="contents">
              <div class="contents__user">
                <a href="https://www.ato-barai.com/" target="_blank">
                  <img alt="株式会社キャッチボール"
                       width="162" height="81"
                       src="relation/assets/images/users/catchball.png?ver={{VERSION}}" />
                </a>
              </div>
              <div class="contents__user">
                <a href="http://ciel.bz/" target="_blank">
                  <img alt="株式会社シエル"
                       width="162" height="81"
                       src="relation/assets/images/users/ciel.png?ver={{VERSION}}" />
                </a>
              </div>
              <div class="contents__user">
                <a href="http://diver-rich.com/" target="_blank">
                  <img alt="株式会社DEEES"
                       width="162" height="81"
                       src="relation/assets/images/users/diverrich.png?ver={{VERSION}}" />
                </a>
              </div>
              <div class="contents__user">
                <a href="http://www.index-inc.co.jp/" target="_blank">
                  <img alt="株式会社インデックス"
                       width="162" height="81"
                       src="relation/assets/images/users/index.png?ver={{VERSION}}" />
                </a>
              </div>
              <div class="contents__user">
                <a href="http://simplique.jp/" target="_blank">
                  <img alt="株式会社シンプリック"
                       width="162" height="81"
                       src="relation/assets/images/users/simplique.png?ver={{VERSION}}" />
                </a>
              </div>
              <div class="contents__user">
                <a href="http://www.waterlabo.com/" target="_blank">
                  <img alt="株式会社ステラ"
                       width="162" height="81"
                       src="relation/assets/images/users/stellar.png?ver={{VERSION}}" />
                </a>
              </div>
              <div class="contents__user">
                <a href="http://tedxutokyo.com/" target="_blank">
                  <img alt="TEDxUTokyo"
                       width="162" height="81"
                       src="relation/assets/images/users/tedxutokyo.png?ver={{VERSION}}" />
                </a>
              </div>
              <div class="contents__user">
                <a href="http://www.tmg-group.jp/" target="_blank">
                  <img alt="株式会社 TMG"
                       width="162" height="81"
                       src="relation/assets/images/users/tmg.png?ver={{VERSION}}" />
                </a>
              </div>
              <div class="contents__user">
                <a href="http://www.waterlabo.com/" target="_blank">
                  <img alt="株式会社ルナ"
                       width="162" height="81"
                       src="relation/assets/images/users/waterlabo.png?ver={{VERSION}}" />
                </a>
              </div>
              <div class="contents__user">
                <a href="http://www.mosimosi.co.jp/" target="_blank">
                  <img alt="エックスモバイル株式会社"
                       width="162" height="81"
                       src="relation/assets/images/users/xmobile.png?ver={{VERSION}}" />
                </a>
              </div>
              <div class="contents__user">
                <a href="http://harbor-links-japan.com" target="_blank">
                  <img alt="ハーバーリンクスジャパン"
                       width="162" height="81"
                       src="relation/assets/images/users/harbor.png?ver={{VERSION}}" />
                </a>
              </div>
              <div class="contents__user">
                <a href="http://vitabrid.co.jp/" target="_blank">
                  <img alt="株式会社ビタブリッド ジャパン"
                       width="162" height="81"
                       src="relation/assets/images/users/vitabrid.png?ver={{VERSION}}" />
                </a>
              </div>
              <div class="contents__user">
                <a href="http://unvs.jp/" target="_blank">
                  <img alt="ユニバースジャパン株式会社"
                       width="162" height="81"
                       src="relation/assets/images/users/universe.png?ver={{VERSION}}" />
                </a>
              </div>
              <div class="contents__user">
                <a href="http://real-net11.com" target="_blank">
                  <img alt="株式会社リアルネット"
                       width="162" height="81"
                       src="relation/assets/images/users/realnet.png?ver={{VERSION}}" />
                </a>
              </div>
              <div class="contents__user">
                <a href="http://redvision.jp/" target="_blank">
                  <img alt="株式会社レッドビジョン"
                       width="162" height="81"
                       src="relation/assets/images/users/redvision.png?ver={{VERSION}}" />
                </a>
              </div>
              <div class="contents__user">
                <a href="http://www.the-sankyo.com/" target="_blank">
                  <img alt="三京商会"
                       width="162" height="81"
                       src="relation/assets/images/users/sankyo.png?ver={{VERSION}}" />
                </a>
              </div>
              <div class="contents__user">
                <a href="http://fukata.tkcnf.com/" target="_blank">
                  <img alt="深田税理士事務所"
                       width="162" height="81"
                       src="relation/assets/images/users/fukata.png?ver={{VERSION}}" />
                </a>
              </div>
              <div class="contents__user">
                <a href="http://www.andrew.ac.jp" target="_blank">
                  <img alt="桃山学院大学"
                       width="162" height="81"
                       src="relation/assets/images/users/andrew.png?ver={{VERSION}}" />
                </a>
              </div>
              <div class="contents__user">
                <a href="http://www.fujiyakuhin.co.jp/" target="_blank">
                  <img alt="株式会社富士薬品"
                       width="162" height="81"
                       src="relation/assets/images/users/fujiyakuhin.png?ver={{VERSION}}" />
                </a>
              </div>
            </div>


            <div class="contents">
              <h3>メディア掲載</h3>
            </div>
            <div class="contents">
              <div class="contents__media">
                <a target="_blank"
                   href="http://ecnomikata.com/ecnews/strategy/6497/">
                  <img alt="ECのミカタ - KDDIと連携「PCメールからの受信拒否」解決！？"
                       width="162" height="81"
                       src="relation/assets/images/media/ec_mikata.png?ver={{VERSION}}" />
                </a>
              </div>
              <div class="contents__media">
                <a target="_blank"
                   href="http://mainichi.jp/feature/news/20141230mog00m040013000c.html">
                  <img alt="毎日新聞社 - メール管理:対応漏れや炎上対策も備えたリレーション クラウドで提供"
                       width="162" height="81"
                       src="relation/assets/images/media/mainichi.png?ver={{VERSION}}"/>
                </a>
              </div>
              <div class="contents__media">
                <a target="_blank"
                   href="http://ingage.co.jp/?p=590">
                  <img alt="日経産業新聞 - メールの対応遅れ防止"
                       width="162" height="81"
                       src="relation/assets/images/media/nikkei_sangyou.png?ver={{VERSION}}"/>
                </a>
              </div>
              <div class="contents__media">
                <a target="_blank"
                   href="http://www.innovation-osaka.jp/ja/projects/ohc-people/4765">
                  <img alt="OIH - 【Re:lation】メールは生きた化石・再発明で世界を変える"
                       width="162" height="81"
                       src="relation/assets/images/media/oih.png?ver={{VERSION}}"/>
                </a>
              </div>
              <div class="contents__media">
                <a target="_blank"
                   href="http://thebridge.jp/2014/11/startupday-in-kantoh-report">
                  <img alt="THE BRIDGE - 地方独自の課題解決や研究開発で世界に発信を！全国Startup Day in 関東"
                       width="162" height="81"
                       src="relation/assets/images/media/the_bridge.png?ver={{VERSION}}"/>
                </a>
              </div>
              <div class="contents__media">
                <a target="_blank"
                   href="http://weekly.ascii.jp/elem/000/000/274/274346/">
                  <img alt="週刊アスキー - コム・デ・ギャルソン元チーフの洋裁クックパッドも 全国スタートアップデイin関東"
                       width="162" height="81"
                       src="relation/assets/images/media/ascii_weekly.png?ver={{VERSION}}"/>
                </a>
              </div>
              <div class="contents__media">
                <a target="_blank"
                   href="http://ingage.co.jp/?p=573">
                  <img alt="Yahoo!ニュース - ＜メール管理＞対応漏れや炎上対策も備えたリレーション クラウドで提供"
                       width="162" height="81"
                       src="relation/assets/images/media/yahoo.png?ver={{VERSION}}"/>
                </a>
              </div>
              <div class="contents__media">
                <a target="_blank"
                   href="http://ascii.jp/elem/000/000/950/950567">
                  <img alt="ASCII.jp - 星野リゾートも注目 地方出身のiBeacon企業"
                       width="162" height="81"
                       src="relation/assets/images/media/ascii_jp.png?ver={{VERSION}}"/>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>


      {{> _section-contact}}
      {{> _section-back-to-top}}
    </div>


    {{> _footer}}

  </div><!-- .wrapper-inner -->
</div><!-- .wrapper -->

{{> _script}}
</body>
</html>
