<!doctype html>
<html class="no-js" lang="ja">
{{> _head title="リレーション (Re:lation) - Re:lationの機能"}}

<body>
<div class="wrapper">
  <div class="wrapper-inner">

    <div class="layout__contents">
      {{> _section-nav}}

      <header id="features-header" class="section section-header">
        <div class="section__container">
          <h4>PRODUCT</h4>
          <h2>Re:lationの機能</h2>
        </div>
      </header>


      <section id="features-description" class="section">
        <div class="section__container">
          <div class="contents-wrapper">
            <div class="contents">
              <p>
                Re:lationが選ばれる理由の１つに、多くの便利な機能があります。
                質の高い顧客対応のために必要な情報共有や新人教育、状況把握などを簡単に行えるRe:lationの機能を３つの特徴から紐解いていきます。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section id="features-title" class="section">
        <div class="section__container">
          <div class="contents-wrapper">
            <header>
              <h4>FEATURES</h4>
              <h1>Re:lationが選ばれる３つの特長</h1>
            </header>
          </div>
        </div>
      </section>


      <a name="feature1"></a>
      <section id="features-one" class="section section-features">
        <div class="section__container">
          <header>
            <h2>１人１人のお客様と向き合うための様々な工夫</h2>
          </header>

          <div class="contents-wrapper rtl">
            <div class="contents contents-image">
              <img src="relation/assets/images/features/feature1-1.png?ver={{VERSION}}"
                   alt="" width="437" height="308" />
            </div>
            <div class="contents contents-summary">
              <h3>携帯・スマホにも<span>確実に送信</span></h3>
              <p>
                携帯電話・スマートフォンユーザーのお客様側にメールを送信する際、メールが届かないという問題があります。
                <br/>
                これは、お客様の携帯・スマホにて「PCメールの着信を拒否」に設定しているためです。
                しかもその多くが、PCメールの着信を拒否にする設定をしていることを、把握していないのです。
              </p>
              <p>
                Re:lationではKDDIとの契約により、auアドレスからメールを送ることが可能です（有料オプション）。
                ですからPCメール着信拒否が設定されていても確実にメールを届けます。
              </p>
            </div>
          </div>

          <div class="contents-wrapper">
            <div class="contents contents-image">
              <img src="relation/assets/images/features/feature1-2.png?ver={{VERSION}}"
                   alt="" width="437" height="262" />
            </div>
            <div class="contents contents-summary">
              <h3><span>タイムライン</span>で過去のメールを素早く把握</h3>
              <p>
                Re:lationはクリックひとつでそのメールの相手との会話だけを時系列で表示する「タイムライン」機能を搭載しています。
              </p>
              <p>
                最近の返信のやりとりはもちろんのこと、3ヶ月前・1年前の会話もすぐに確認することができるので、メール応対の担当者が変わっても、すぐに状況を把握することが可能です。
                <br/>
                「前回と同じ商品の購入希望」「あの会場どこ？」といった一行メールもタイムラインで以前のやりとりをすぐに確認できます。
              </p>
            </div>
          </div>

          <div class="contents-wrapper rtl">
            <div class="contents contents-image">
              <img src="relation/assets/images/features/feature1-3.png?ver={{VERSION}}"
                   alt="" width="437" height="262" />
            </div>
            <div class="contents contents-summary">
              <h3><span>Twitter</span>でアクティブサポート</h3>
              <p>
                問い合わせ対応は顧客との大切なコミュニケーションの場所。上手な対応は企業のファンを増やし、ビジネス向上につながります。
              </p>
              <p>
                Re:lationはTwitterにも対応しています。
                登録したTwitterアカウントに向けて発信されたメンションやダイレクトメッセージを自動的に受信します。
                メールと同じようにデザインされているので、返事や承認などもメールと同じように対応を行えます。
              </p>
            </div>
          </div>
        </div>
      </section>


      <a name="feature2"></a>
      <section id="features-two" class="section section-features">
        <div class="section__container">
          <header>
            <h2>見て分かる！直感的な操作性でストレスフリーに</h2>
          </header>

          <div class="contents-wrapper">
            <div class="contents contents-image-full">
              <img src="relation/assets/images/features/feature2-1.png?ver={{VERSION}}"
                   alt="" width="872" height="460" />
            </div>
          </div>

          <div class="contents-wrapper">
            <div class="contents">
              <h3><span>ユーザの使いやすさ</span>を第一に考えた画面デザイン</h3>
            </div>
          </div>

          <div class="contents-wrapper" style="margin-top: 0;">
            <div class="contents contents-summary">
              <p>
                「メール管理サービスってデザインが古く使いづらい・・・」と悩みを抱えたユーザの声を聴くことがあります。
                <br/>
                しかし、Re:lationはユーザが使いやすく簡単にメール対応を行えるように設計されているため、そういった悩みは一切ありません。
              </p>
            </div>
            <div class="contents contents-summary">
              <p>
                直感的に扱える画面デザインだから、日々行う受信〜内容確認〜返信〜管理などのメール業務がストレスなく行えます。
              </p>
            </div>
          </div>

          <div class="contents-wrapper">
            <div class="contents contents-image">
              <img src="relation/assets/images/features/feature2-2.png?ver={{VERSION}}"
                   alt="" width="437" height="262" />
            </div>
            <div class="contents contents-summary">
              <h3>わからないことが出てきても、<br/><span>チャットで聞けるからすぐに解決</span></h3>
              <p>
                もし分からないところが出てきても、チャットですぐにサポートチームに質問できるので、初心者でも安心してご利用いただけます。
              </p>
              <p>
                また、最新のアップデート内容など、日々情報を更新しておりますので、新しい機能がリリースされてもすぐに使いこなすことができます。
              </p>
            </div>
          </div>

          <div class="contents-wrapper rtl">
            <div class="contents contents-image">
              <img src="relation/assets/images/features/feature2-3.png?ver={{VERSION}}"
                   alt="" width="437" height="262" />
            </div>
            <div class="contents contents-summary">
              <h3>メールを<span>進捗ごとにカテゴライズ</span><br/>対応漏れをゼロに</h3>
              <p>
                メールを進捗ごとにカテゴライズして管理されるので、高い顧客対応サービスが実現できます。
              </p>
              <p>
                各受信箱は「未対応」「保留」「対応完了」「対応不要」の4つのフォルダを持ち、受信したメールは、
                新規・返信に関わらず「未対応」に格納されます。そのため、未対応の数を意識するだけで、対応が必要かが一目瞭然です。
                <br/>
                また、それ以外の進捗フォルダも作成できるので、細かい進捗管理もできます。
              </p>
            </div>
          </div>
        </div>
      </section>


      <a name="feature3"></a>
      <section id="features-three" class="section section-features">
        <div class="section__container">
          <header>
            <h2>対応の見える化で管理も教育も無理なくカンタンに！</h2>
          </header>

          <div class="contents-wrapper rtl">
            <div class="contents-image">
              <img src="relation/assets/images/features/feature3-1.png?ver={{VERSION}}"
                   alt="" width="437" height="262" />
            </div>
            <div class="contents-summary">
              <h3><span>宛名つきコメント機能</span>で<br/>コミュニケーションが円滑に</h3>
              <p>
                各メッセージ（メールやツイート）には宛名を指定してコメントを入力できます。
                対称のオペレータには通知されるため、すぐに気づくことができます。
                <br/>
                もちろん、コメントは社内のみの共有なので自由に社内コミュニケーションが行えます。
              </p>
              <p>
                忙しく直接話せないときや在宅など別の場所で作業しているときでも、コメント機能を活用すれば円滑なコミュニケーションを簡単に行えます。
              </p>
            </div>
          </div>

          <div class="contents-wrapper">
            <div class="contents-image">
              <img src="relation/assets/images/features/feature3-2.png?ver={{VERSION}}"
                   alt="" width="437" height="262" />
            </div>
            <div class="contents-summary">
              <h3><span>メールの内容比較と承認申請</span>で<br/>新人教育にもバッチリ</h3>
              <p>
                新人には承認申請機能で、作成したメールを上司がチェックすることができます。
                それに勝手な送信そのものを防ぐこともできるため、誤って送信することもありません。
              </p>
              <p>
                また、メールの内容比較もできるので、新人社員が書いたメールを上司がどのように変更したのかが分かります。
                <br/>
                これにより、実際の仕事を通じて教育できるので次の対応に活かしやすくなります。
              </p>
            </div>
          </div>

          <div class="contents-wrapper rtl">
            <div class="contents-image">
              <img src="relation/assets/images/features/feature3-3.png?ver={{VERSION}}"
                   alt="" width="437" height="252" />
            </div>
            <div class="contents-summary">
              <h3><span>ラベル機能やグラフ分析</span>で<br/>改善点をカンタンに発見</h3>
              <p>
                部門全体の対応時間や、各オペレータごとの処理数などメール対応業務を管理する際に意識すべきことが数字とグラフで視覚的に判断することが可能です。
                <br/>
                さらに、各チケット（メールのやりとり）をラベルで仕分けることにより、期間ごとにどのような問い合わせがあったのかを統計で見ることができ、分析にご利用いただけます。
              </p>
              <p>
                例えば、ネット通販事業者の場合、顧客の解約理由を分析することは業務改善には大変重要です。
                解約の理由を「費用がかかる」「回数が多い」「身体に合わない」などラベル分けすることで分析がかんたんに行えます。
              </p>
            </div>
          </div>
        </div>
      </section>


      <a name="functions"></a>
      {{> _section-functions-carousel}}


      <section id="features-security" class="section">
        <div class="section__container">
          <header>
            <h4>SECURITY</h4>
            <h2>高い安全性</h2>
            <p>
              お客様の情報を扱うサービスの安全性は非常に優先順位の高い項目です。
              <br/>
              Re:lationでは下記の対策でサービスの安全性を高めています。
            </p>
          </header>

          <div class="contents-wrapper">
            <div class="contents">
              <div class="contents__image">
                <img alt="AWSの利用"
                     width="120" height="120"
                     src="relation/assets/images/features/aws.png?ver={{VERSION}}">
              </div>
              <h4>AWS の利用</h4>
              <div class="contents__summary">
                AWS は世界で最高レベルのセキュリティ要件を満たしており、
                最重要国家機密を保持する米国国防総省でも利用されるなど、
                600を超える米国の政府機関で採用されています。
                また、日本国内でも東証一部上場企業の多くが AWS を利用しています。
              </div>
            </div>
            <div class="contents">
              <div class="contents__image">
                <img alt="SSLによる暗号化"
                     width="120" height="120"
                     src="relation/assets/images/features/ssl.png?ver={{VERSION}}">
              </div>
              <h4>SSL による暗号化</h4>
              <div class="contents__summary">
                第三者による盗聴を防ぐため、通信はすべて256 bit SSL 暗号化通信によって暗号化されています。
                また日本ベリサイングループの安心と信頼の Geo Trust の SSL 証明書を採用しています。
              </div>
            </div>
            <div class="contents">
              <div class="contents__image">
                <img alt="バックアップ"
                     width="120" height="120"
                     src="relation/assets/images/features/backup.png?ver={{VERSION}}">
              </div>
              <h4>バックアップ</h4>
              <div class="contents__summary">
                データベースのバックアップは毎日行われています。
                しかもバックアップは10世代分を保持。
                さらに、バックアップしたデータは暗号化し、
                Amazon の複数のデータセンタ分散して保管しています。
              </div>
            </div>
            <div class="contents">
              <div class="contents__image">
                <img alt="BCP（事業継続計画）/ DR（災害復旧） 対策"
                     width="120" height="120"
                     src="relation/assets/images/features/bcp_dr.png?ver={{VERSION}}">
              </div>
              <h4>BCP<span>(事業継続計画)</span>、<br/>DR<span>(災害復旧)</span>対策</h4>
              <div class="contents__summary">
                たとえデータセンタに災害などの問題が発生したとしても、
                分散保存されたバックアップデータより別のデータセンタで
                環境を構築することができます。
                そのため、万一データが消失したとしても、
                半日以内にお客様が利用可能な状態に復旧することが可能です。
              </div>
            </div>
            <div class="contents">
              <div class="contents__image">
                <img alt="導入企業様ごとの URL・IP アドレスでの制限"
                     width="120" height="120"
                     src="relation/assets/images/features/limit_address.png?ver={{VERSION}}">
              </div>
              <h4>導入企業様ごとの<br/>URL・IP アドレスでの制限</h4>
              <div class="contents__summary">
                Re:lationでは導入企業様ごとに独自の URL を提供します。
                その URL を知らない限りは、第三者がお客様の環境にアクセスすることはできません。
                また、アクセスできる IP アドレスを限定することで、
                想定外のアクセスをシャットアウトできます。
              </div>
            </div>
            <div class="contents">
              <div class="contents__image">
                <img alt="セキュリティマネジメントの国際規格 ISMS を取得"
                     width="120" height="120"
                     src="relation/assets/images/features/isms.png?ver={{VERSION}}">
              </div>
              <h4>セキュリティマネジメントの<br/>国際規格 ISMS を取得</h4>
              <div class="contents__summary">
                お客様の信頼に応えられるサービスの提供をするため、
                当社では全社的なリスク管理体制のもと、
                全社的な意思統一を図り、
                情報セキュリティマネジメント・システム
                (ISMS) を構築しています。<br/>
                <span>※ 当社は ISO27001 取得企業です。</span>
              </div>
            </div>
          </div>
        </div>
      </section>


      {{> _section-link}}
      {{> _section-contact}}
      {{> _section-back-to-top}}
    </div>


    {{> _footer}}

  </div><!-- .wrapper-inner -->
</div><!-- .wrapper -->

{{> _script}}
</body>
</html>
