<!doctype html>
<html class="no-js" lang="ja">
{{> _head title="お客様の声 - TEDxUTokyo | リレーション (Re:lation)"}}

<body>
<div class="wrapper">
  <div class="wrapper-inner">

    <div class="layout__contents">
      {{> _section-nav}}

      <section id="interview-top-image" class="section">
        <img alt="" src="relation/assets/images/interview/tedxutokyo-top.png?ver={{VERSION}}">
      </section>


      <section id="interview-top-text" class="section">
        <div class="section__container">
          <div class="contents-wrapper">
            <div class="contents">
              <h4>INTERVIEW</h4>
              <h2>
                リレーションの良いところって<br/>作業フローに沿って作り込み<br/>されているところですね
              </h2>
              <h3>TEDxUTokyo 実行委員会</h3>
              <p>左から 根本さん、貴田さん、薮井さん、中川さん</p>
            </div>
          </div>
        </div>
      </section>


      <section id="interview-company" class="section">
        <div class="section__container">
          <div class="contents-wrapper">
            <div class="contents">
              <p>
                TEDxUTokyoは、アメリカ・カリフォルニア州で年に一度、
                様々な分野から出演者を招きトークを行う世界的祭典、
                コミュニティ・イベントであるTEDと大学がコラボレーションした日本初のTEDxUniversity。
                <br/>
                今回、皆さんがどのようにRe:lation (リレーション) を活用しているのか、話を伺いました。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>TEDxUTokyoは<span>参加者全員のアイデアが双方向に出せる場</span></h2>
          </header>

          <div class="contents-wrapper small-image rtl">
            <div class="contents contents-image">
              <img alt="" width="415" height="356"
                   src="relation/assets/images/interview/tedxutokyo-01.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__question">
                まず最初にTEDxUTokyo実行委員会の活動内容について教えていただけますか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__red">中川さん：</span>
                私たちTEDxUTokyo実行委員会は、大学内外の色々な分野をつなぎ、
                普段の生活では出会えないアイデアを生み出していけるような場作りを目指しています。
                そのために、年１回400人程度の方が参加するメインイベントを開催したり、
                より少人数で交流できるTEDxUTokyoSalonといったイベントを年に数回開催したりしています。
                東大の現役学生にもどんどん自分のアイデアを発信してもらえればと考えているので、
                学生だけがトークをするイベントも開いています。
              </p>
              <p class="interview__answer">
                いろんな人が交流できる場、アイデアを出し合って促進できる場として、
                密度の高い少人数イベント、TEDxSalonの開催やTED本部開催イベントをライブストリームしたり、
                今年（2015年）の9月にはTEDxUTokyoだけでなくTEDxUniversityの全国規模のイベントを行ったり、
                10月にはサロンイベントを開催したりしています。
              </p>
            </div>
          </div>

          <div class="contents-wrapper">
            <div class="contents contents-summary">
              <p class="interview__answer">
                <span class="interviewer__blue">根本さん：</span>
                僕はTEDxUTokyoを最初に実施した2012年からメンバーとして参加しているのですが、
                大学に眠っているリソースを掘り起こしたり、学部を超えた交流の場を作ったりすることが必要だよね、
                ということはずっと変わらず大切にしてきています。
              </p>
            </div>
            <div class="contents contents-summary">
              <p class="interview__answer">
                <span class="interviewer__red">中川さん：</span>
                NHKのスーパープレゼンテーションが有名なこともあり、
                TED・TEDxと聞くとプレゼンテーションをするイベントと思われる方もいらっしゃるのですが、
                プレゼンをする方・聞く方という一方的な場ではなく、
                参加者全員がアイデアをお互いに出せる場を提供することが大事だと考えています。
                そういう意味では関係する色々な方と、
                イベント時以外にも継続的にやり取りをさせていただくことが必要だと思っています。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>リレーションは<span>未対応のメールがすぐ分かる</span>のがいいですね！</h2>
          </header>


          <div class="contents-wrapper small-image">
            <div class="contents contents-image">
              <img alt="" width="415" height="250"
                   src="relation/assets/images/interview/tedxutokyo-02.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__question">
                リレーションはどのような用途でお使いいただいていますか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__red">中川さん：</span>
                TEDxUTokyoではスピーカーの方やイベントの参加者様、
                協賛いただく企業様やスタッフを合わせると全部で600〜700名の方とやり取りをさせていただいています。
                その中でも特にイベントの参加者の方や、スタッフ募集の時に活用させていただいています。
              </p>
              <p class="interview__answer">
                2015年4月の新歓（スタッフ募集）の時に初めてリレーションを導入したのですが、
                昨年よりもやり取りがスムーズだったという声をたびたび聞きました。
              </p>
            </div>
          </div>


          <div class="contents-wrapper small-image rtl">
            <div class="contents contents-image">
              <img alt="" width="460" height="307"
                   src="relation/assets/images/interview/tedxutokyo-f-01.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__question">
                リレーションを使うようになって良かったことは？
              </p>
              <p class="interview__answer">
                <span class="interviewer__red">中川さん：</span>
                昨年まではWebブラウザ版のGmailを使っていたのですが、
                全部同じ件名なのでどのメールが対応済でどのメールに対応してないのかが分からなくなることがたびたびありました。
                リレーションは未対応のメールが一発で分かるので良いなと感じています。
              </p>
              <p class="interview__answer">
                他にはラベル機能も嬉しいです。
                メールを読むのに手一杯ですぐに返信する時間が取れなくても「対応要」「対応不要」といったラベルを付けておけば、
                後から他の人がラベルを見て返信することができます。チームでメールに対応できるようになりました。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>リレーションの「コメント機能」で<span>コミュニケーションが円滑に。</span></h2>
          </header>


          <div class="contents-wrapper small-image">
            <div class="contents contents-image">
              <img alt="" width="415" height="300"
                   src="relation/assets/images/interview/tedxutokyo-03.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__question">
                他に、リレーションを使うようになって良かったことはありますか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__blue">根本さん：</span>
                僕はリレーションの「コメント機能」が好きです。
                1通のメールに対してコメントできるのが嬉しいですね。
                一斉に送るメールなどで、メール文面をメンバー同士で意見を出しながら修正する時にとても便利です。
              </p>

              <p class="interview__answer">
                ちょっと全体の話になるのですが、
                リレーション全体の作りが、作業フローに沿って作られているのでチーム作業がとてもしやすくなりました。
                メールが来て、それを見て担当者を割り振って、承認依頼と承認機能があって、と抜けていることがないのが素晴らしいです。
                特に他のメールソフトだと「担当者設定」というフローが実装されていないことが多いのですが、
                初めてリレーションを見た時にそれがあって「すごい！」と思いました。
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>リレーションは<span>見てすぐに分かるシステムでした！</span></h2>
          </header>

          <div class="contents-wrapper">
            <div class="contents contents-summary">
              <p class="interview__question">
                今後どのようにリレーションを使っていきたいとお考えですか？
              </p>
            </div>
          </div>
          <div class="contents-wrapper">
            <div class="contents contents-summary">
              <p class="interview__answer">
                <span class="interviewer__red">中川さん：</span>
                ちょうど最近リレーションの使い方を貴田さんと薮井くんに説明したところなんです。
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">薮井さん：</span>
                これから使っていって慣れていこうと思います。
                リレーションの使用画面は見てすぐに分かるようにデザインされているので、
                PCメールに慣れていない僕も１時間程度で使い方が分かるようになりました。
              </p>
            </div>
            <div class="contents contents-summary">
              <p class="interview__answer">
                <span class="interviewer__pink">貴田さん：</span>
                色が統一されているのが良いですよね。
                １日１回はこの緑色の画面を見るようにしたいと思います。
              </p>
              <p class="interview__answer">
                <span class="interviewer__red">中川さん：</span>
                今までは私がメール対応をほぼしてきたのですが、
                これからはこの二人にメールを作成してもらいたいと思っています。
                私は担当者設定と承認だけ、となっていけば嬉しいです。
              </p>
            </div>
          </div>

          <div class="contents-wrapper">
            <div class="contents">
              <img alt="" width="1024" height="681"
                   src="relation/assets/images/interview/tedxutokyo-04.png?ver={{VERSION}}">
            </div>
          </div>
      </section>

      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>リレーションの<span>「担当者設定」機能はすごい！</span></h2>
          </header>

          <div class="contents-wrapper small-image rtl">
            <div class="contents contents-image">
              <img alt="" width="415" height="250"
                   src="relation/assets/images/interview/tedxutokyo-05.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__answer">
                <span class="interviewer__blue">根本さん：</span>
                リレーションはメールが来て、それを見て担当者を割り振って、
                承認依頼と承認機能があって、と抜けていることがないのが素晴らしいです。
              </p>
              <p class="interview__answer">
                担当者が決まっていないメールへの対応が遅れてしまいご迷惑をおかけすることが度々あったのですが、
                この機能があると「早く何とかしないといけない」メールが分かるのでそういうことも少なくなると思います。
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>リレーションとTEDxUTokyo、<span>顔の見える関係で共に進化。</span></h2>
          </header>

          <div class="contents-wrapper">
            <div class="contents contents-image">
              <img alt="" width="415" height="280"
                   src="relation/assets/images/interview/tedxutokyo-06.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__question">
                TEDxUTokyoのみなさんからいただくリレーションへのアイデアやコメントは大変ありがたく、
                リレーションのバージョンアップに活かさせていただいています。
              </p>
              <p class="interview__answer">
                <span class="interviewer__red">中川さん：</span>
                顔の見える関係で使わせていただいていることがとても嬉しいです。
                使っているサービスの開発者の方と直接お会いしてお話しできるという機会を学生の間にさせていただけるのはとてもありがたいと思っています。
              </p>
              <p class="interview__answer">
                <span class="interviewer__blue">根本さん：</span>
                細かいことでも一つ一つ真摯に対応していただいていること、
                レスポンスがしっかりしていること、
                リレーションのサービスの作り方など、
                私たちもイベントを作って行く上で見習うべきことが多いなと感じています。
              </p>

              <p class="interview__question">
                本日はありがとうございました。<br/>
                これからもリレーションをよろしくお願い致します。
              </p>
            </div>
          </div>
        </div>
      </section>


      {{> _section-voices-carousel}}
      {{> _section-link}}
      {{> _section-contact}}
      {{> _section-back-to-top}}
    </div>


    {{> _footer}}

  </div><!-- .wrapper-inner -->
</div><!-- .wrapper -->

{{> _script}}
</body>
</html>
