<!doctype html>
<html class="no-js" lang="ja">
{{> _head title="お客様の声 | リレーション (Re:lation)"}}

<body>
<div class="wrapper">
  <div class="wrapper-inner">

    <div class="layout__contents">
      {{> _section-nav}}

      <header id="voices-header" class="section section-header">
        <div class="section__container">
          <h4>VOICES</h4>
          <h2>お客様の声</h2>
        </div>
      </header>

      <section id="voices-list" class="section">
        <div class="section__container">
          <article class="contents"><a href="relation/interview/vitabrid">
            <div class="contents__business">
              ネットショップ
            </div>
            <div class="contents__image">
              <img alt="株式会社ビタブリッドジャパン" width="482" height="300"
                   src="relation/assets/images/interview/thumb_vitabrid.png?ver={{VERSION}}">
            </div>
            <div class="contents__summary">
              初めて使うスタッフもその日のうちに<br/>使いこなせるようになりました！
            </div>
            <div class="contents__company">株式会社ビタブリッドジャパン</div>
            <div class="contents__users"  >丸山 様 / 鄭 様 / 西守 様</div>
          </a></article>

          <article class="contents"><a href="relation/interview/harbor">
            <div class="contents__business">
              ネットショップ
            </div>
            <div class="contents__image">
              <img alt="株式会社ハーバーリンクスジャパン" width="482" height="300"
                   src="relation/assets/images/interview/thumb_harbor.png?ver={{VERSION}}">
            </div>
            <div class="contents__summary">
              リレーションを導入してから<br/>対応漏れがゼロに！
            </div>
            <div class="contents__company">株式会社ハーバーリンクスジャパン</div>
            <div class="contents__users"  >石原 様</div>
          </a></article>

          <article class="contents"><a href="relation/interview/redvision">
            <div class="contents__business">
              ネットショップ
            </div>
            <div class="contents__image">
              <img alt="株式会社レッドビジョン" width="482" height="300"
                   src="relation/assets/images/interview/thumb_redvision.png?ver={{VERSION}}">
            </div>
            <div class="contents__summary">
              100万通を超える<br/>メール移行も簡単でした！
            </div>
            <div class="contents__company">株式会社レッドビジョン</div>
            <div class="contents__users"  >福島 様 / 井上 様</div>
          </a></article>

          <article class="contents"><a href="relation/interview/asklepios">
            <div class="contents__business">
              ネットショップ
            </div>
            <div class="contents__image">
              <img alt="アスクレピオス製薬株式会社" width="482" height="300"
                   src="relation/assets/images/interview/thumb_asklepios.png?ver={{VERSION}}">
            </div>
            <div class="contents__summary">
              リレーションに決めた理由は<br/>導入にかかるサポートの良さ！
            </div>
            <div class="contents__company">アスクレピオス製薬株式会社</div>
            <div class="contents__users"  >庭谷育壮 様</div>
          </a></article>

          <article class="contents"><a href="relation/interview/tedxutokyo">
            <div class="contents__business">
              教育
            </div>
            <div class="contents__image">
              <img alt="TEDxUTokyo" width="482" height="300"
                   src="relation/assets/images/interview/thumb_tedxutokyo.png?ver={{VERSION}}">
            </div>
            <div class="contents__summary">
              リレーションの良いところって<br/>作業フローに沿って作り込みされて<br/>いるところですね
            </div>
            <div class="contents__company">TEDxUTokyo</div>
            <div class="contents__users"  >根本 様 / 貴田 様 / 薮井 様 / 中川 様</div>
          </a></article>

          <article class="contents"><a href="relation/interview/fukata">
            <div class="contents__business">
              士業
            </div>
            <div class="contents__image">
              <img alt="深田税理士事務所" width="482" height="300"
                   src="relation/assets/images/interview/thumb_fukata.png?ver={{VERSION}}">
            </div>
            <div class="contents__summary">
              リレーション導入のきっかけは<br/>メール対応効率アップ！
            </div>
            <div class="contents__company">深田税理士事務所</div>
            <div class="contents__users"  >深田壽税理士 / 深田寿浩 様</div>
          </a></article>
        </div>
      </section>


      {{> _section-link}}

      {{> _section-contact}}

      {{> _section-back-to-top}}
    </div>


    {{> _footer}}

  </div><!-- .wrapper-inner -->
</div><!-- .wrapper -->

{{> _script}}
</body>
</html>
