<!doctype html>
<html class="no-js" lang="ja">
{{> _head title="お客様の声 - 株式会社レッドビジョン | リレーション (Re:lation)"}}

<body>
<div class="wrapper">
  <div class="wrapper-inner">

    <div class="layout__contents">
      {{> _section-nav}}

      <section id="interview-top-image" class="section">
        <img alt="" src="relation/assets/images/interview/redvision-top.png?ver={{VERSION}}">
      </section>

      <section id="interview-top-text" class="section">
        <div class="section__container">
          <div class="contents-wrapper">
            <div class="contents">
              <h4>INTERVIEW</h4>
              <h2>
                100万通を超える<br/>メール移行も簡単でした！
              </h2>
              <h3>株式会社レッドビジョン</h3>
              <p>左：福島さん 右：井上さん</p>
            </div>
          </div>
        </div>
      </section>


      <section id="interview-company" class="section">
        <div class="section__container">
          <div class="contents-wrapper">
            <div class="contents">
              <p>
                東京都新宿区高田馬場にある女性用無添加育毛剤「マイナチュレ」をネット販売している株式会社レッドビジョン様。<br/>
                今回、リレーションを導入いただいたきっかけなどのお話を伺いました。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2><span>一日約60件のメール</span>お問い合わせもリレーションでスムーズに！</h2>
          </header>

          <div class="contents-wrapper rtl">
            <div class="contents contents-image">
              <img alt="" width="415" height="309"
                   src="relation/assets/images/interview/redvision-01.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__question">
                リレーションはどのような用途でお使いいただいてますか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">井上さん：</span>
                私たちは「マイナチュレ」という女性用無添加育毛剤をインターネットで販売しています。
              </p>
              <p class="interview__answer">
                リレーションは、主に「マイナチュレ」のお客様からの問い合わせメールの対応で利用しています。
                またホームページ上のお問い合わせフォームなどから送られてくるメールや一般の方から商品やお届けに関するお問い合わせを合わせると1日約50〜60件ほどのメールが届きますので、
                その対応に使っています。
              </p>
              <p class="interview__answer">
                また、育毛や頭皮ケアに関する問い合わせには、毛髪診断士、元美容師、
                管理栄養士の有資格者がお客様の多種多様なご質問やお悩み相談にお応えできるようにしていて、
                1日平均5〜6件ほどのご相談メールがきています。
              </p>
            </div>
          </div>

          <div class="contents-wrapper">
            <div class="contents contents-summary">
              <p class="interview__answer">
                <span class="interviewer__green">井上さん：</span>
                毛髪に関するサポートは電話でも無料相談できるようになっています。
                お客様からお寄せいただいた貴重なご意見やご要望が新たな企画や開発のきっかけになることも少なくありません。
              </p>
            </div>
            <div class="contents contents-summary">
              <p class="interview__answer">
                時には厳しいご意見として、時にはうれしいお褒めの言葉として、
                問い合わせ部門に届けられるお客様からの「声」はこそが私たちの原動力と考えています。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>リレーションに決めた理由は<span>使いやすさ、そして画面の見やすさ！</span></h2>
          </header>

          <div class="contents-wrapper">
            <div class="contents contents-image">
              <img alt="" width="415" height="381"
                   src="relation/assets/images/interview/redvision-02.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__question">
                リレーションに決めた理由を教えていただけますか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">井上さん：</span>
                実は他社も検討していて、テストアカウントも発行してもらって実際に比較テストをしました。
                結果、使い勝手や画面の見やすさ、そしてメール対応チームとも相談してリレーションを導入することに決めました。
              </p>
              <p class="interview__answer">
                導入時には約113万通のメールをリレーションに移行しての運用開始となりました。
                移行メール数が膨大なのでうまく進められるか心配しましたが、おどろくほどスムーズに移行できました。
                移行後も問題なく使えています。
                また社長の和田さんとの信頼関係もリレーションに決めた大きな理由の一つです。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>リレーションを導入してから<span>対応漏れがゼロに！！</span></h2>
          </header>

          <div class="contents-wrapper small-image rtl">
            <div class="contents contents-image">
              <img alt="" width="415" height="340"
                   src="relation/assets/images/interview/redvision-03.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__question">
                リレーションを導入していただいて良かった点、改善された点は何でしょうか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">井上さん：</span>
                まず誰が何をやっているかというのはわかるようになったことは大きいです。
                ラベル活用やテンプレート機能でメール対応業務にかかる時間が短縮され、
                業務効率が上がりました。
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">井上さん：</span>
                また通販システムからのメールを含めると1日に約3,000件のメールがあり、
                リレーション導入前は重要なメールが埋もれてしまって対応が漏れてしまうことがありました。
                リレーションを導入してからは「未対応」に対応すべきメールが入るので、
                確認漏れが無くなったこと、対応が重複してしまうこともゼロになったのは非常に大きいです。
              </p>
              <p class="interview__answer">
                <span class="interviewer__blue">福島さん：</span>
                チームの全員で使っているんですよね？
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">井上さん：</span>
                そうですね。チームほぼ全員で使っています。そのうちメール対応チームは5名います。
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>Gmail同様に<span>ラベルが使えるのが魅力！</span></h2>
          </header>

          <div class="contents-wrapper">
            <div class="contents contents-image">
              <img alt="" width="576" height="227"
                   src="relation/assets/images/interview/redvision-f-01.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-image">
              <img alt="" width="576" height="201"
                   src="relation/assets/images/interview/redvision-f-02.png?ver={{VERSION}}">
            </div>
          </div>

          <div class="contents-wrapper">
            <div class="contents">
              <p class="interview__question">
                その他、便利にお使いの機能はありますか？
              </p>
            </div>
            <div class="contents contents-summary">
              <p class="interview__answer">
                <span class="interviewer__green">井上さん：</span>
                「自動設定ルール」が作れることや「ラベル」が設定できること、
                キャリアメールオプション機能で携帯やスマートフォンへもエラーなしで送れる機能が便利です。
              </p>
            </div>
            <div class="contents contents-summary">
              <p class="interview__answer">
                もともと Gmail を利用していましたので、
                リレーションでも同じように「ラベル機能」や「自動設定ルール機能」をとても便利に使っています。
                ですので、Gmail など普通のメールで業務を行なっている企業には絶対にオススメです。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>ダッシュボードで<span>対応時間計測や分析も</span>リレーション一つで！</h2>
          </header>

          <div class="contents-wrapper">
            <div class="contents">
              <p class="interview__question">
                今後リレーションをどのように使っていかれるか教えていただけますか？
              </p>
            </div>
            <div class="contents contents-summary">
              <p class="interview__answer">
                <span class="interviewer__blue">福島さん：</span>
                集計機能（ダッシュボード機能）を今後もっと使っていきたいと考えています。
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">井上さん：</span>
                メールからの分析は課題となっているのでやっていきたいです。
                リレーション一つで全てできるのは良いと思います。
              </p>
            </div>
            <div class="contents contents-summary">
              <p class="interview__answer">
                今は使えていないですが、担当者設定機能や承認依頼などのフローもいずれ使っていきたいと考えています。
                今後コールセンターを稼働する予定なので、是非使っていきたいです。
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">井上さん：</span>
                それとサポートにチャットで相談できることもとても良いです。
                気軽に問い合わせできるので、とても便利に使わせていただいています。
              </p>
            </div>
          </div>
          <div class="contents-wrapper">
            <div class="contents">
              <p class="interview__question">
                本日はありがとうございました。今後ともリレーションをよろしくお願いいたします。
              </p>
            </div>
          </div>

          <div class="contents-wrapper">
            <div class="contents">
              <img width="1024" height="668"
                   src="relation/assets/images/interview/redvision-04.png?ver={{VERSION}}">
            </div>
          </div>
        </div>
      </section>


      {{> _section-voices-carousel}}
      {{> _section-link}}
      {{> _section-contact}}
      {{> _section-back-to-top}}
    </div>


    {{> _footer}}

  </div><!-- .wrapper-inner -->
</div><!-- .wrapper -->

{{> _script}}
</body>
</html>
