<!doctype html>
<html class="no-js" lang="ja">
{{> _head title="お客様の声 - 株式会社ビタブリッドジャパン | リレーション (Re:lation)"}}

<body>
<div class="wrapper">
  <div class="wrapper-inner">

    <div class="layout__contents">
      {{> _section-nav}}

      <section id="interview-top-image" class="section">
        <img alt="" src="relation/assets/images/interview/vitabrid-top.png?ver={{VERSION}}">
      </section>


      <section id="interview-top-text" class="section">
        <div class="section__container">
          <div class="contents-wrapper">
            <div class="contents">
              <h4>INTERVIEW</h4>
              <h2>
                初めて使うスタッフも<br/>その日のうちに<br/>使いこなせるようになりました！
              </h2>
              <h3>株式会社ビタブリッドジャパン様</h3>
              <p>左から 丸山さん、鄭（ジョン）さん、西守さん</p>
            </div>
          </div>
        </div>
      </section>


      <section id="interview-company" class="section">
        <div class="section__container">
          <div class="contents-wrapper">
            <div class="contents">
              <p>
                東京都港区赤坂にあるビタミンC化粧品を開発・販売している株式会社ビタブリッドジャパン様。<br/>
                今回、リレーションを導入いただいた経緯などお話を伺いました。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>他社ソフトも比較検討した結果、<span>リレーションが一番！</span></h2>
          </header>

          <div class="contents-wrapper rtl">
            <div class="contents contents-image">
              <img alt="" width="415" height="308"
                   src="relation/assets/images/interview/vitabrid-01.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__question">
                御社のビジネス（商品）についてお伺いできますでしょうか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">西守さん：</span>
                私たちは世界特許の技術を使った化粧品や商品の提供で「明日の可能性を広げて」いきたいと思っています。
              </p>
              <p class="interview__answer">
                色々とやりたいことはありますが、現在は主にビタミンC化粧品を開発・販売しております。
              </p>
              <p class="interview__answer">
                純粋なビタミンCは壊れやすいものなのですが、
                それを特許技術を使うことで12時間もの間持続的にお肌に作用させることができる画期的な商品です。
                頭皮に塗ることで育毛促進を、お顔に塗ることで美白機能を実感していただくことができる商品です。
              </p>
            </div>
          </div>

          <div class="contents-wrapper">
            <div class="contents">
              <p class="interview__question">
                リレーションを導入されるまでの経緯を教えていただけますか？
              </p>
            </div>
            <div class="contents contents-summary">
              <p class="interview__answer">
                <span class="interviewer__green">西守さん：</span>
                弊社は2014年6月に日本で販売を開始しまして、当初はお客様対応はメール対応も含めて全て、
                外部のパートナー企業に委託をしていたんです。
                サービス品質のさらなる向上と、顧客の声をより製品開発に反映させることを目的として、
                2016年からメール対応については内製化を行いました。
              </p>
            </div>
            <div class="contents contents-summary">
              <p class="interview__answer">
                リレーションは2015年12月頃からテスト運用させていただいて、2016年1月よりスタートしました。
                内製化を検討する際に、有名なメール対応クライアントソフトを7～8種類比較検討しました。
                歴史あるソフトウェアから、比較的新しいサービスまでそれぞれ一長一短でしたね。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>リレーションに決めた一番の理由は<span>「携帯メールオプション」ですね！</span></h2>
          </header>

          <div class="contents-wrapper">
            <div class="contents contents-image">
              <img alt="" width="415" height="433"
                   src="relation/assets/images/interview/vitabrid-02.png?ver={{VERSION}}">
            </div>

            <div class="contents contents-summary">
              <p class="interview__question">
                なぜ、他社でも同じような商品があるにも関わらず、<br/>リレーションを選んで頂けたのでしょうか?
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">西守さん：</span>
                最終的にリレーションに決めた理由は、auの携帯アドレスを使って送信する機能が決め手でした。
                まず他社ではそういうサービスがなかったですし、もちろんそれだけではなくて、
                それ以外の部分も必要な機能はすべてあって、リレーションには欠点がなく上回る機能が多くあったからです。
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">西守さん：</span>
                我々のような「個人のお客様と対応する会社」にとっては、
                携帯キャリアへのメールが受信拒否されずに届くということは大変重要なことなんです。
                昨今スマートフォンからお申し込みされる方が多く、
                その中で携帯キャリアメールを使ってメールを送受信されるお客様が多いので、
                私たち企業からのメールのようにPCからのメールを受信拒否されている方々にもエラーにならずに送れるということは、
                他社の追随を許さない、非常に大きなメリットでした。
              </p>
              <p class="interview__answer">
                リレーションを導入してから「メールが届いていないようなのでお客様に電話してください」ということはゼロになりました。
                メール到達率は100％です。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>リレーションは<span>使う環境を選ばないのがいいですね！</span></h2>
          </header>

          <div class="contents-wrapper rtl">
            <div class="contents contents-image">
              <img width="415" height="341"
                   src="relation/assets/images/interview/vitabrid-03.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__question">
                その他、リレーションを選ばれた理由があれば教えていただけますか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">西守さん：</span>
                インターフェースが分かりやすいことですね。
                良くも悪くも、使用頻度が少ないメニューがほとんど存在しないので、
                対応を初めて行うオペレーターにもすごく分かりやすいですね。
                特に、Gmail等のWebメールを使ったことがあればすぐに馴染むのではないでしょうか。
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">西守さん：</span>
                またWeb上でログインすれば使えるので環境を選びませんし、インストールも不要なのがいいですね。
                在宅勤務でも可能です。それと内容に比べて月額費用が安いこと。こんなに安くていいの？と正直思いましたよ。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>リレーションは<span>ナレッジ共有に最適！</span></h2>
          </header>

          <div class="contents-wrapper">
            <div class="contents contents-image">
              <img width="415" height="250"
                   src="relation/assets/images/interview/vitabrid-04.png?ver={{VERSION}}">
            </div>

            <div class="contents contents-summary">
              <p class="interview__question">
                リレーションを実際に使ってみて、一番の変化は何でしょうか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">西守さん：</span>
                フレーズ登録機能を大変便利に使っていて、メール応対のクオリティが非常にあがったことです。
                メール対応業務の8割はフレーズ挿入になります。
                最後にお客様ごとに少し言い回しを変更することでほぼ完結します。
              </p>
              <p class="interview__answer">
                今まで回答に使うフレーズは、それぞれ担当者がメモ帳やエクセルで管理して使っていたのですが、
                リレーションで登録して利用できるようになってからは、メンバーでフレーズの共有ができるようになりましたし、
                そして日々更新していけるようになったことが良いですね。
                またナレッジの共有もはかれています。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>リレーションの便利な<span>「フレーズ」と「テンプレート」</span></h2>
          </header>

          <div class="contents-wrapper">
            <div class="contents contents-image">
              <img alt="" width="593" height="368"
                   src="relation/assets/images/interview/vitabrid-f-01.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-image">
              <img alt="" width="540" height="368"
                   src="relation/assets/images/interview/vitabrid-f-02.png?ver={{VERSION}}">
            </div>
          </div>

          <div class="contents-wrapper">
            <div class="contents contents-summary">
              <p class="interview__answer">
                リレーションでは定型文を「テンプレート」と「フレーズ」の二通りで登録することができます。
                <br/>
                「テンプレート」は文章全体を登録するのに便利です。
                メールの返信ひとつに対してひとつだけ選ぶことができます。
              </p>
            </div>
            <div class="contents contents-summary">
              <p class="interview__answer">
                「フレーズ」は一行から数行の定型文を利用するのに便利です。
                メール内にいくつでも挿入することができるので季節毎の挨拶や装飾用の罫線などを登録するのに便利です。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>リレーションは<span>スピーディーに処理できるところがいいですね！</span></h2>
          </header>

          <div class="contents-wrapper rtl">
            <div class="contents contents-image">
              <img alt="" width="415" height="309"
                   src="relation/assets/images/interview/vitabrid-05.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__question">
                その他、リレーションを使ってみて良かった点は何でしょうか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">西守さん：</span>
                私たちは普段WebブラウザはGoogle Chromeで日常的に業務をしています。
                ですので、Chromeにてリレーションのタブを一つ開いておくだけで済むのも非常にコンパクトで便利です。
                担当者は自分に案件が振られた時に、ブラウザでポップアップ表示されるので、
                スタッフは他の仕事を行っていてもすぐに担当者設定されたことが分かります。
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">西守さん：</span>
                承認者の私も、承認依頼がくるとコメント付きでポップアップ表示されるので、
                お客様対応を待たせることなく、スピーディーに処理できるところがいいですね。
                今私はリレーションでタブを3つ開いていて、メインで見てる画面、アドレスを検索する画面、
                フレーズ登録を開いている画面を上手く使うようにしています。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>リレーションの<span>サポートが素晴らしい！</span></h2>
          </header>

          <div class="contents-wrapper">
            <div class="contents contents-image">
              <img alt="" width="415" height="279"
                   src="relation/assets/images/interview/vitabrid-06.png?ver={{VERSION}}">
            </div>

            <div class="contents contents-summary">
              <p class="interview__question">
                他にもリレーションの良かった点はありますか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__pink">丸山さん：</span>
                サポートが本当に素晴らしいですね。
                チャットで受けてくれますので、簡単に質問することができます。
                それとこちらの改善提案を真摯に受け止め、日々進化していってくれていることです。
                弊社のお願いによって変更された部分も結構あって、助かってます。
                もちろん、そこは無理ってのは断られてますが。これはあくまでも想像ですけれど、
                他社さんのサービスにはない対応力があるなと感じています。
              </p>
              <p class="interview__answer">
                <span class="interviewer__pink">丸山さん：</span>
                また過去メールの検索も早くて便利です。
                過去の同じお客様のメールを探したりするのに今までは手間取っていましたが、
                リレーションだと早いので非常に使い勝手が良くなりましたね。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>初めてリレーションを使うスタッフも、<span>その日のうちに使えるように。</span></h2>
          </header>

          <div class="contents-wrapper rtl">
            <div class="contents contents-image">
              <img alt="" width="415" height="339"
                   src="relation/assets/images/interview/vitabrid-07.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__question">
                リレーションを導入を決めていただく前、どのようなことにお悩みでしたか？
                その中でも特に悩んでいたことは何ですか？
              </p>

              <p class="interview__answer">
                <span class="interviewer__green">西守さん：</span>
                以前のメーラーではIMAP4で接続しながら対応を行っていました。
                メールサーバーに何人も繋ぎながら作業をしていましたので、
                ちょくちょく接続エラーが起きたり、届いているはずのメールがうまく受信できなかったり、
                振り分けたメールが消えてしまったりと、メール管理に余計なストレスが発生している状況でした。
                対顧客サービスをしていますので止まると致命的なんですが、
                リレーションにしてからはそのような問題が全く起こっていないので助かっています。
              </p>
              <p class="interview__question">
                リレーションを導入する前の不安点などありましたか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">西守さん：</span>
                一切なかったですね。インターフェースが見慣れている形式なので、スタッフの習得が非常に早かったです。
              </p>
              <p class="interview__answer">
                年末年始の休み明けの初日から使い始めたのですが、その日のうちにみんな使えるようになってましたね。
                通常は休み明けはメール対応が非常に大変なのですが、リレーションのおかげでそうでもなかったです。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2><span>メール分析も</span>リレーション一つで！</h2>
          </header>

          <div class="contents-wrapper">
            <div class="contents contents-image">
              <img alt="" width="415" height="385"
                   src="relation/assets/images/interview/vitabrid-08.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__question">
                その他、リレーションの導入後に改善されたことはありますか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">西守さん：</span>
                メールの分析がタイムリーにできるようになったことです。
                リレーションのレポーティング機能（ダッシュボード機能）が非常に便利ですね。
                今までメール対応のレポートは外注先パートナーからもらっておりましたが、
                レポートタイミングは月に1回でした。
                月間数百件のメールの内容から重要な要素をピックアップしてもらってはいましたが、
                生のお客様のご意見が直接聞けているとは言えませんでした。
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">西守さん：</span>
                今回、リレーションを導入してメール対応を内製化して、メール経由のお客様の声は日々、リアルタイムで分かるようになりました。
                内製化して半年経過しましたが、生のお客様のご意見がサービス向上のために大変役立っています。
              </p>

              <p class="interview__answer">
                リレーションは「ラベル機能」でメールを分類することができるので、レポーティングが非常に簡便になりました。<br/>
                例えば弊社の場合、「定期解約」「会員情報変更」「次回変更」など15種類ぐらいカテゴリを分けて、
                1メールに1つラベルを付けてグラフを作成しています。
                簡単にレポートが作成できて即時分析できることは非常に良いですね。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2><span>一日に10件のお問い合わせメール</span>が来るようであれば、リレーションを！</h2>
          </header>

          <div class="contents-wrapper rtl">
            <div class="contents contents-image">
              <img width="415" height="339"
                   src="relation/assets/images/interview/vitabrid-09.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__question">
                ビタブリッドジャパン様にとって「問い合わせ対応」とは何ですか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">西守さん：</span>
                問い合わせ対応とは、
                お客様から「この会社を信じても良いのか？」を試されている重要なタイミングに、
                企業としてどう対応するかの問題だと考えております。
                お客様とのコミュニケーションを通じて、
                会社としての取り組み姿勢やブランドイメージを正しくご理解いただくことができるかどうか、
                私たちは日々試されています。
              </p>
              <p class="interview__answer">
                このような重要な対応を自社でコントールできる環境が整えられたというのは非常に大きいことです。
                メールは電話と違って非常に相手にとって冷たいイメージを与えるものだと思います。
                自社でできるようになったことは大きなメリットで、
                これはリレーションのお陰です。
              </p>
            </div>
          </div>

          <div class="contents-wrapper">
            <div class="contents contents-image">
              <img width="415" height="401"
                   src="relation/assets/images/interview/vitabrid-10.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__question">
                リレーションはどのような会社や企業にオススメだと思われますか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">西守さん：</span>
                社内のアプリケーションをWebベースにしている会社はオススメだと思います。
                また、私どものように、お客様とやり取りされている通販会社さんなどにもオススメだと思います。
              </p>
              <p class="interview__answer">
                お客様対応は自社内でできるのが一番です。
                とは言ってもコールセンターを内製化するのは、
                乗り越えねばならないハードルがかなり高いですが、
                「まずはメール対応だけ内製化したい！」「自社で内製化してみよう！」とお考えの企業さまには、
                とても使いやすくて導入しやすいサービスだと思います。
              </p>
              <p class="interview__answer">
                実は私たちも外注先のコールセンターにも導入することを考えていたんです。
                なぜなら管理がしやすいから。通常はVPNを使ったりしてシステムが大変ですけれど、
                リレーションならWebブラウザを使える環境なら外部でも容易に使えます。
                一日に10件のお問い合わせメールが来るようであれば、導入を考えた方がいいと思います。
              </p>
              <p class="interview__answer">
                一人でメールを見れる範囲を超えるのが10件だと思います。
                それを超えると2人で対応することになって、
                それだとリレーションのようなツールがないと大変です。
                そして何よりリレーションはこれだけの機能があるのに安いですし絶対オススメですね！
              </p>

              <p class="interview__question">
                本日は、ありがとうございました。<br/>今後ともリレーションをよろしくお願いいたします。
              </p>
            </div>
          </div>
        </div>
      </section>


      {{> _section-voices-carousel}}
      {{> _section-link}}
      {{> _section-contact}}
      {{> _section-back-to-top}}
    </div>


    {{> _footer}}

  </div><!-- .wrapper-inner -->
</div><!-- .wrapper -->

{{> _script}}
</body>
</html>
