<!doctype html>
<html class="no-js" lang="ja">
{{> _head title="お客様の声 - 深田税理士事務所 | リレーション (Re:lation)"}}

<body>
<div class="wrapper">
  <div class="wrapper-inner">

    <div class="layout__contents">
      {{> _section-nav}}

      <section id="interview-top-image" class="section">
        <img alt="" src="relation/assets/images/interview/fukata-top.png?ver={{VERSION}}">
      </section>


      <section id="interview-top-text" class="section">
        <div class="section__container">
          <div class="contents-wrapper">
            <div class="contents">
              <h4>INTERVIEW</h4>
              <h2>
                リレーション導入のきっかけは<br/>メール対応効率アップ！
              </h2>
              <h3>深田税理士事務所</h3>
              <p>左から 深田壽税理士、深田寿浩さん</p>
            </div>
          </div>
        </div>
      </section>


      <section id="interview-company" class="section">
        <div class="section__container">
          <div class="contents-wrapper">
            <div class="contents">
              <p>
                大阪府豊中市にある深田税理士事務所。
                <br/>
                今回、税理士事務所の皆さんがどんなきっかけでRe:lation (リレーション) を導入し活用しているのか、お話を伺いました。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>税理士の仕事は<span>信頼が大事！</span></h2>
          </header>

          <div class="contents-wrapper rtl">
            <div class="contents contents-image">
              <img alt="" width="460" height="307"
                   src="relation/assets/images/interview/fukata-01.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__question">
                税理士事務所でのお仕事内容を教えていただけますか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">寿浩さん：</span>
                私たちは、月に一回お客様の会計チェックをして、
                期末に控えている決算を行い税務署に報告するということをしています。
              </p>
              <p class="interview__answer">
                深田税理士事務所は、TKC全国会に加入していて「会計データは毎月締める」ことをしています。
                毎月締めたものはデータセンターに伝送しており、締めたものは訂正することができない仕組みになっています。
              </p>
              <p class="interview__answer">
                もし仕訳などで間違ったものを正す場合は、逆仕訳をして修正したことを記録することになります。
                そのため、税務署や銀行からはTKCのソフトを使っているということで信頼を持ってもらえるようになってきています。
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>リレーションは<span>資料の添付も便利！</span></h2>
          </header>

          <div class="contents-wrapper">
            <div class="contents contents-image">
              <img alt="" width="460" height="307"
                   src="relation/assets/images/interview/fukata-02.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__question">
                リレーションは事務所の中でどのようにお使いですか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">寿浩さん：</span>
                所長（深田税理士）と私ともう一人の3人で事務所宛のメールの対応に使っています。
              </p>

              <p class="interview__question">
                リレーション以外にはどのようなソフトをお使いですか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">寿浩さん：</span>
                先ほどお話しした月次と年次決算処理を行うTKC経理ソフト、その他にはWordやExcelなどを使っています。
              </p>
              <p class="interview__answer">
                深田税理士事務所は経営改善計画にも強く取り組んでいて、
                経済産業省が実施している再生支援の経営改善支援センター（認定支援機関）として、
                申請書や計画書などの資料を作成したりするのに利用しています。
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2><span>グループで同時に利用できる</span>、リレーション</h2>
          </header>

          <div class="contents-wrapper small-image rtl">
            <div class="contents contents-image">
              <img alt="" width="460" height="307"
                   src="relation/assets/images/interview/fukata-03.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__question">
                リレーションを導入していただいたきっかけは何でしょうか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">寿浩さん：</span>
                何と言ってもグループで使える！ということですね。
                お客様へ連絡事項や資料を添付して送ったりするのにメールを使っているのですが、
                今までのメールソフトでは同時にログインすることができない仕組みになっていたんです。
              </p>
              <p class="interview__answer">
                メールを確認したい時にログインできない、
                メールが見れないということが多く発生していて、
                その度に「誰か今ログインしてる？」と声かけしたりしてました。
              </p>
              <p class="interview__answer">
                リレーションにしてからはその手間も時間もなくすことができました。
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2><span>今までのメールアドレスを引き継げる</span>ので導入がスムーズ！</h2>
          </header>

          <div class="contents-wrapper small-image">
            <div class="contents contents-image">
              <img alt="" width="460" height="307"
                   src="relation/assets/images/interview/fukata-04.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__question">
                その他に、リレーション導入のきっかけはありますか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__blue">深田税理士：</span>
                私の事務所では、私の下に2人の担当者がそれぞれお客様を分担していて、
                その担当者をサポートするスタッフがいるという3構造の体制になっています。
              </p>
              <p class="interview__answer">
                私たちは税理士事務所用の1つのメールアドレスを私と担当者全員で共有して使っていて、
                それぞれお客様のメールを担当者に割り振って対応するようにしています。
                返信内容によってや決裁が必要なものについては私に確認依頼がくるようになっていて、
                リレーションでは「担当者設定」と「承認機能」で実現できるのがポイントでした。
              </p>
              <p class="interview__answer">
                またリレーションの「それぞれ担当者が自身のIDとパスワードでログインして同時に作業すること」ができることと
                「今まで利用していたメールアドレスをそのまま引き継いで使うことができる」のがいいですね。
              </p>
              <p class="interview__answer">
                リレーションでもTKCで利用しているメールアドレスは引き続き使えますので対外的には何の連絡も必要なくとてもスムーズに導入できました。
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>リレーションは管理しやすくて、<span>作業効率アップ！</span></h2>
          </header>

          <div class="contents-wrapper">
            <div class="contents contents-image">
              <img alt="" width="460" height="254"
                   src="relation/assets/images/interview/fukata-f-01.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-image">
              <img alt="" width="460" height="254"
                   src="relation/assets/images/interview/fukata-f-02.png?ver={{VERSION}}">
            </div>
          </div>

          <div class="contents-wrapper">
            <div class="contents">
              <p class="interview__question">
                リレーションの機能で、良いなと感じていただいている点は何ですか？
              </p>
            </div>
            <div class="contents contents-summary">
              <p class="interview__answer">
                <span class="interviewer__green">寿浩さん：</span>
                メールを作成中に自動で保存されていることですね。
                しかも作成途中のメールはリアルタイムに他のメンバーからも見えるため、
                スタッフがどんな返事を書いているのかを把握することができています。
              </p>
            </div>
            <div class="contents contents-summary">
              <p class="interview__answer">
                また、リレーションはバージョンアップの度にできることが増えていってるので嬉しいです。
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-interview">
        <div class="section__container">
          <header>
            <h2>これからの<span>電子申請</span>にリレーションを活用！</h2>
          </header>

          <div class="contents-wrapper small-image rtl">
            <div class="contents contents-image">
              <img alt="" width="576" height="384"
                   src="relation/assets/images/interview/fukata-05.png?ver={{VERSION}}">
            </div>
            <div class="contents contents-summary">
              <p class="interview__question">
                今後どのようにリレーションを使っていきたいとお考えですか？
              </p>
              <p class="interview__answer">
                <span class="interviewer__green">寿浩さん：</span>
                コメント機能は、今のところ隣り合わせで座っているので、
                直接画面を見て確認したりすることが多くて使えていませんけれど、
                今後事務所の人数が増えてきたりすると必要ですし使っていきたいと思います。
              </p>
              <p class="interview__answer">
                <span class="interviewer__blue">深田税理士：</span>
                年末調整の扶養控除もそうですし、マイナンバー制度の件もあって
                これから税務関係では電子申請が増えていくのですが、
                中小企業でまだまだメールが使えてない会社が多いのが現状なので、
                リレーションをそれぞれ企業に使ってもらってメールと電子申請を行える環境を整えてもらうなどできたらいいですね。
              </p>
              <p class="interview__answer">
                <span class="interviewer__blue">深田税理士：</span>
                やはり税理士の仕事柄、節税対策の詳しい説明などをするにはFace to Face
                でお付き合いすることが多いですけれど、
                今後申請や申告書などの電子化を受けてメールでのやり取りも増えてきますし、
                やはりメールでのやり取りの良さも考えて、
                それぞれを使い分けていきたいと考えています。
              </p>
              <p class="interview__question">
                本日は、ありがとうございました。<br/>
                今後ともリレーションをよろしくお願い致します。
              </p>
            </div>
          </div>
        </div>
      </section>


      {{> _section-voices-carousel}}
      {{> _section-link}}
      {{> _section-contact}}
      {{> _section-back-to-top}}
    </div>


    {{> _footer}}

  </div><!-- .wrapper-inner -->
</div><!-- .wrapper -->

{{> _script}}
</body>
</html>
